<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant Homepage</title>
    </head>
    <body>
        <h1>{{restaurant.name}}</h1>
        <p>{{restaurant.address}}</p>
        <form method="GET" action="">
            <input type="text" name="q"placeholder="Search for Menu items.. value="{{query"">
            <button type="submit">Search</button>
        </form>
        <ul>
            {% for item in menu_items %}
            <li>
                <strong>{{item.name}}</strong>-${{item.price}}
                <p>{{item.description}}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No Menu items found.</p>
        {% endif %}
        <hr>
        <h2>Opening Hours</h2>
        {% if restaurant %}
        <ul>{% for hours in restaurant.opening_hours.all %}
            <li>
                <strong>{{hours.get_weekday_display}}</strong>
                {{hours.from_hour | time:"h:i A"}}- {{hours.to_hour | time"h:i A"}}

            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No menu items found.</p>
        {% endif %}
        <hr>
        <h2>Opening Hours</h2>
        {% if restaurant %}
        <ul>{% for hours in restaurant.opening_hours.all %}
            <li><strong>{{hours.get_weekday_display}}</strong>:
            {{hours.from_hour. | time:"h:i A"}}- {{hours.to_hour | time "h : i A"}}
            </li>
            {% endfor %}
        </ul>
        {%  else %}
        <p>Opening hours not available.</p>
        {% endif %}
    </body>
</html>
