{% extends 'base.html' %}
{% load static %}

{% block title %} Home - Restaurant Management{% endblock %}

{% block content %}

<div class="container">
    <div class="hero-section">
        <h1>Welcome to Our Restaurant </h1>
        <p>Manage Your restaurant operations effieciently</p>
        <div class="dashboard-cards">
            <div class="card">
                <h3>Products</h3>
                <a href="{% url 'product:list' %}" class="btn">View Products</a>
            </div>
            <div class="card">
                <h3>Orders</h3>
                <p>Track customer orders</p>
                <a href="{% url 'orders:list' %}" class="btn">View Orders</a>
            </div>
            <div class="card">
                <h3>Account</h3>
                <p>Manage use accounts </p>
                <a href="{% url 'account:profile' %}" class="btn">View Account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
